<div>
    <h3>Crear nueva persona</h3>
</div>
<div>
    <form action="/add" method="post">
        <div>
            <label for="name">Nombre</label>
            <input type="text" name="name" id="name" autofocus required>
        </div>

        <div>
            <label for="lastname">Apellido</label>
            <input type="text" name="lastname" id="lastname" required>
        </div>

        <div>
            <label for="age">Edad</label>
            <input type="number" name="age" id="age" required>
        </div>

        <button>Crear</button>
    
    </form>
</div>