<div>
    <h3>Editando una persona</h3>
</div>
<div>
    <form action="/edit/{{persona.id}}" method="post">
        <div>
            <label for="name">Nombre</label>
            <input type="text" name="name" id="name" autofocus required value="{{persona.name}}">
        </div>

        <div>
            <label for="lastname">Apellido</label>
            <input type="text" name="lastname" id="lastname" required value="{{persona.name}}" >
        </div>

        <div>
            <label for="age">Edad</label>
            <input type="number" name="age" id="age" required value="{{persona.age}}" >
        </div>

        <button>Actualizar</button>
    
    </form>
</div>