<nav>
    {{#if isLoggedIn}}
        <a href="/add">Make a transaction</a>
        <a href="/list">See transactions</a>
        <a href="/logout">Logout ({{username}})</a>
    {{else}}
        <a href="/login">Login</a>
        <a href="/register">Register</a>
    {{/if}}
</nav>

{{{body}}}
